body {
    overflow-y: scroll;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration-line: none;
    color: rgb(104, 161, 202);
}

a:visited {
    color: rgb(72, 131, 173);
}

.item {
    font-weight: bold;
    font-size: 1.4em;
}

.date {
    color: gray;
}